$space-small = 5px
$space-med = 10px
$space-large = 20px

.u-space
  &--bot
    &-small
      margin-bottom $space-small
    &-medium
      margin-bottom $space-med
    &-large
      margin-bottom $space-large
  &--top
    &-small
      margin-top $space-small
    &-medium
      margin-top $space-med
    &-large
      margin-top $space-large
  &--left
    &-small
      margin-left $space-small
    &-medium
      margin-left $space-med
    &-large
      margin-left $space-large
  &--right
    &-small
      margin-right $space-small
    &-medium
      margin-right $space-med
    &-large
      margin-right $space-large