.c-close-voting-dialog
  &__result-list
    display block
    margin-top 5px

  &__result
    display block
    font-size 1rem
    font-weight 400
    font-family 'Roboto', 'Helvetica', 'Arial', sans-serif
    color rgba(#000, .54)
    margin-bottom 3px

  &__result-points
    display inline-block

  &__result-book
    display inline-block
    margin-left 10px
