.c-edit-book-dialog

  &__content
    max-width 420px

  &__cover-image
    max-width 150px
    max-height 150px

  &__cover-image-container
    display flex
    align-items center
    justify-content center
    background #f8f8f8
    border 1px solid #f2f2f2
    border-radius 3px
    box-sizing border-box
    padding 3px
    width 200px
    min-height 158px
    margin-left 5px

  .o-spinner-anchor
    position absolute
    top 0
    right 0
    transform translate(-50%, -20%)