.c-nav-tab
  display inline-block
  cursor pointer
  box-sizing border-box
  padding 0
  margin 0
  line-height 1

  &:hover,
  &.is-active
    a
      color #222
      border-color #66e

  a
    text-decoration none
    color #666
    padding .5em 1em
    border-bottom 2px solid transparent