.c-season-info
  padding 10px 10px 20px 20px
  margin-top 10px
  max-width 415px

  &__date
    label
      font-weight 600
      display inline-block
      margin-right 5px

  &__voting-results
    width max-content

    .c-vote-card
      margin-bottom 10px