.c-season-info
  padding-top 10px
  margin-top 10px
  max-width 600px

  &__header, &__details, &__admin-info
    padding-left 20px
    padding-right 10px

  &__details
    padding-bottom 20px

  &__date
    label
      font-weight 600
      display inline-block
      margin-right 5px

  .c-vote-card--result
    border-top 1px solid #ccc